# Get your API access from:
# https://github.com/settings/applications/new
#
# For development:
# url: http://localhost:4567
# callback url: http://localhost:4567/auth/github/callback

module LunchZone
  GITHUB_CLIENT_ID     = "YOUR CLIENT ID HERE"
  GITHUB_CLIENT_SECRET = "YOUR CLIENT SECRET HERE"
end
