<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Lunch Zone</title>
</head>
<body>
</body>
<script type="text/javascript">
  var currentUser =  <%= current_user.to_json %>;
  <% restaurant_data = LunchZone::Restaurant.all_for_date(Date.today)
     restaurant_data_json = restaurant_data.map { |data|
        user_attributes =  data[:users].map(&:public_attributes)

        data[:restaurant].public_attributes.merge(:users => user_attributes)
      }.to_json %>
  var restaurants = <%= restaurant_data_json %>;
</script>
<script src="/javascripts/application.js"></script>
</html>
